<h2>Dual Sheath Redux</h2>

<section>
    This sets the Biped slot used by the left staff, weapon and shield
</section>

<section>
    <select ng-model="settings.dualSheathRedux.leftBipedSlot">
        <option value="60 - Unnamed" selected="selected">60</option>
        <option value="59 - Unnamed">59</option>
        <option value="58 - Unnamed">58</option>
        <option value="57 - Unnamed">57</option>
        <option value="56 - Unnamed">56</option>
        <option value="55 - Unnamed">55</option>
        <option value="54 - Unnamed">54</option>
        <option value="53 - Unnamed">53</option>
        <option value="52 - Unnamed">52</option>
        <option value="49 - Unnamed">49</option>
        <option value="48 - Unnamed">48</option>
        <option value="47 - Unnamed">47</option>
        <option value="46 - Unnamed">46</option>
        <option value="45 - Unnamed">45</option>
        <option value="44 - Unnamed">44</option>
    </select>
    Left - Biped Slot
</section>

<section>
    This sets the Biped slot used by the right staff
</section>

<section>
    <select ng-model="settings.dualSheathRedux.rightBipedSlot">
        <option value="60 - Unnamed">60</option>
        <option value="59 - Unnamed">59</option>
        <option value="58 - Unnamed">58</option>
        <option value="57 - Unnamed">57</option>
        <option value="56 - Unnamed">56</option>
        <option value="55 - Unnamed">55</option>
        <option value="54 - Unnamed">54</option>
        <option value="53 - Unnamed">53</option>
        <option value="52 - Unnamed">52</option>
        <option value="49 - Unnamed">49</option>
        <option value="48 - Unnamed">48</option>
        <option value="47 - Unnamed">47</option>
        <option value="46 - Unnamed">46</option>
        <option value="45 - Unnamed">45</option>
        <option value="44 - Unnamed" selected="selected">44</option>
    </select>
    Right - Biped Slot
</section>
